/***************************************************** 
 * Navigation Bar
 *****************************************************/
.navigation {
  grid-area: hd;
  grid-gap: 5px;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: dimgray;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: black;
}

.active-nav {
  background-color: goldenrod;
}