/***************************************************** 
 * Mobile View 
 *****************************************************/
.container {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 50px 600px;
  border: 2px solid yellow;
  grid-template-areas: "hd" "main" "ft";
  border: 2px solid yellow;
  font: normal 13px "Helvetica Neue", sans-serif;
}

.box {
  border: 1px solid red;
  background: lightgoldenrodyellow;
}

.navigation {
  grid-area: hd;
}

.content {
  grid-area: main;
}

.footer {
  grid-area: ft;
}

/***************************************************** 
 * Regular View 
 *****************************************************/
@media(min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 50px 600px;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "main main main main main main main main"
      "ft ft ft ft ft ft ft ft";
    border: 2px solid red;
  }
}